@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c5ee83 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background: url("https://img.freepik.com/premium-vector/vector-golden-confetti-isolation-white-background_921039-2104.jpg?w=1380"); */
  background-size: fill;
  background-repeat: no-repeat;
  font-family: 'DM Sans', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
} */
.article {
  max-width: 800px;
  margin: 0 auto;
}

.cart_box {
  width: 38%; /* Adjust as needed */
  border: 2px solid #070707;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  
}
.cart_box:hover{
  /* border:   1px solid; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cart_rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plus{
  margin: 10px;
  background-color: blue!important;
}
.minus{
  margin: 10px;
  background-color: red!important;
}
.price{
  background-color: greenyellow!important;
}
.quantity{
  background-color: grey!important;
  border-radius: 10px;
}
.remove{
  background-color: #f1a324!important;
  border-radius: 10px;
}
/* .cart_img img {
  max-width: 100%;
  height: auto;
} */

.cart_info {
  text-align: center;
}
.cart-info h4{
  margin-top: 20px !important;
}

.cart_actions {
  text-align: center;
}

.cart_remove {
  text-align: center;
  
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold !important;
  
}
.tot-price{
  font-weight: bold !important;
  font-size: 38px !important;
}
.tot-text{
  font-weight: bold !important;
  font-size: 38px !important;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.payment-text{
  margin-top: 20px;
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
}
/* .cart_box{
border: 1px solid black;
border-radius: 15px;
width: 500px;

} */
.cart_img img{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #070707 !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e80a0a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1d384f;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}